body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-board {
  display: flex;
  flex-direction: column;
}
.message{
  border:2px solid rgba(71, 69, 69, 0.274);
  margin: 1em;
  width: 20em;
  border-radius: 2px;
  box-shadow: 2px 1px 2px gainsboro;
  padding: 1em;
}

.user{
  font-weight: 600 ;
}

.date{
  font-size: 10px;
  color: grey;
}